@tailwind base;
@tailwind components;
@tailwind utilities;

.rounded-border-bottom {
	border-radius: 100px 100px 0 0; /* Arrondir les coins sauf le coin inférieur droit */
	border-bottom: 4px solid #ffffff; /* Ajouter une bordure inférieure */
}

@layer base {
	.font-outline-2-secondary {
		-webkit-text-stroke: 3px black;
	}
	.font-outline-2-primary {
		-webkit-text-stroke: 3px white;
	}
}
