@tailwind base;
@tailwind components;
@tailwind utilities;

.rounded-border-bottom {
	border-radius: 100px 100px 0 0; /* Arrondir les coins sauf le coin inférieur droit */
	border-bottom: 4px solid #ffffff; /* Ajouter une bordure inférieure */
}

@layer base {
	.font-outline-2-secondary {
		-webkit-text-stroke: 2px black;
	}
	.font-outline-2-primary {
		-webkit-text-stroke: 2px white;
	}
}

/* Custom styles for vertical range slider */
input[type="range"] {
	-webkit-appearance: none; /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	height: 300px; /* Height of slider */
	background: transparent; /* Transparent background */
}

input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 8px;
	cursor: pointer;
	animate: 0.2s;
	background: #ddd;
	border-radius: 25px;
}

input[type="range"]::-webkit-slider-thumb {
	height: 24px;
	width: 24px;
	border-radius: 50%;
	background: #4a90e2;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -8px; /* Offset thumb position */
}

input[type="range"]:focus {
	outline: none; /* Remove outline */
}

input[type="range"]:focus::-webkit-slider-runnable-track {
	background: #ccc;
}
